@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    position: absolute;
    content: '';
    background-color: red;
    width: 0%;
    height: 2px;
    left: 50%;
    top: 100%;
    transition: 0.2s;
}

.nav-link::after {
    position: absolute;
    content: '';
    background-color: red;
    width: 0%;
    height: 2px;
    right: 50%;
    top: 100%;
    transition: 0.2s;
}


.nav-link:hover::before,
.nav-link:hover::after {
    width: 50%;
}